:root {
  --color-castletonegreen: hwb(163deg 0% 70%);
  --color-algae: hwb(162deg 54% 10%);
  --color-melrose: hwb(240deg 70% 0%);
  --color-portage: hwb(230deg 50% 0%);
  --color-darkblue: hwb(240deg 0% 40%);
  --color-persianblue: hwb(240deg 18% 10%);
  --color-cobalt: hwb(220deg 0% 10%);
}

/* logo */
#lptp-color {
  max-width: 8rem;
  width: 100%;
  height: auto;
}

body {
  background-color: var(--color-portage);
  background-image: linear-gradient(
    -20deg,
    var(--color-melrose),
    var(--color-portage)
  );
  color: var(--color-darkblue);
}

a {
  color: var(--color-darkblue);
  text-decoration: underline;
}

a:visited {
  color: var(--color-darkblue);
}

a:hover {
  color: var(--color-persianblue);
}

a:active {
  color: var(--color-cobalt);
}

:focus-visible {
  outline-color: var(--color-cobalt);
  border-radius: 0.1rem;
  outline-width: 0.2rem;
  outline-offset: 0.1rem;
  outline-style: solid;
}

::selection {
  background-color: var(--color-algae);
  color: var(--color-persianblue);
}

html {
  min-height: 100%;
  font-family: "Input", "Office Code Pro", "Source Code Pro", "Fira Mono",
    "Inconsolata", "Monaco", "Consolas", "Lucida Console", "Liberation Mono",
    "DejaVu Sans Mono", monospace;
  font-weight: 400;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

/*
clever page scaling with root font size changes:
https://www.smashingmagazine.com/2016/05/fluid-typography/

calc(AZ + (B - A) * (100vw - CZ) / (D - C))
- A: min font size
- B: max font size
- C: min screen size
- D: max screen size
- Z: unit (px, rem, etc.)
*/
html {
  font-size: calc(1rem + (1.5 - 1) * (100vw - 30rem) / (120 - 30));
}

body {
  padding: 2rem;
  margin: 0;
}

h1,
h2,
h3 {
  font-size: inherit;
  line-height: inherit;
  font-weight: 700;
}

h1,
h2,
p,
ul,
pre,
article {
  margin: 0;
}

time {
  font-style: italic;
}

ul ul {
  margin: 0;
}
